@font-face {
    font-family: 'Helvetica Now Display';
    src: url('./fonts/HelveticaNowDisplay-Black.ttf');
	scr: url('./fonts/HelveticaNowDisplay-Regular.ttf')
}
* {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Now Display";
}
body { background-color: #ffffff;}

nav {
	display: flex;
	/* flex-direction: row; */
	background-image: url("./imgs/plan-ss-gimped.png");
	background-size: cover;
	justify-content: space-between;
}

.hyerlogo {
	height: 180px;
	margin: 40px;
	padding-bottom: 350px;
	
}

nav>ul {
	display: flex;
	/* flex-direction: row;
	text-decoration: none; */
	list-style: none;
	/* flex-direction: column; */
	margin-right: 30px;
	margin-top: 30px;
	
}

nav ul li {
	/* flex-direction: row; */
	text-decoration: none;
	list-style: none;
	padding: 10px;
}

nav ul li button {
	/* width: 40px;
       height: 40px; */
	border: none;
	background-color: rgb(0, 0, 0);
	border-radius: 99%;
	padding: 20px;
}
nav ul li button:hover {
	background-color: #303131;
}
nav ul li a {
	text-decoration: none;
	color: black;
}
nav ul li a:hover {
	/* color: var(--hover-color: green); */
	/* color: blue; */
	text-decoration: underline;
	animation-delay: 0.5s;
}



.b {
	/* height: 30px; */
	width: 20px;
}
.p {
	/* margin-top: 200px; */
	margin-left: 50px;
	font-size: 43px;
	line-height: 36px;

}
.p2 {
	margin-top: 20px;
	margin-left: 50px;
font-size: 20px;
}

.midbox {
	display: flex;
	justify-content: space-between;
}


.blackbutton {
	display: flex;
	margin: 20px;
	/* justify-content: flex-end; */
	/* margin-right: 60px; */
	/* padding: ; */
}
.buttonn {
	margin: 5px;
	padding: 12px;
	color: white;
	background-color: black;
	border-radius: 50px;
	border-style: none;
	}
.buttonn:hover {
/* background-color: rgb(27, 26, 26); */
	color: #cdcacd;
}



.boldflextext {
	/* text-decoration: overline; */
	display: flex;
	margin-top: 35px;
    margin-left: 40%;
	margin-right: 70px;
	font-size: 30px;
	/* font-size: 57px;
	line-height: 57px; */
}

.ul {
	display: grid;
	list-style: none;
	grid-template-columns: 20vw 20vw;
    grid-column-gap: 4vw;
     /* grid-template-columns: 2;
	grid-template-rows: 2  */
	margin-top: 30px;
	margin-left: 35%;
	/* margin-right: 30%; */
}

.ul>li {
	border-top: 2px solid #303131;
}
.ul>li>h4 {
	font-size: 15px;
	padding: 10px;
}
.ul>li>p {
	font-size: 13px;
	color: gray;
}

.threeimgcontainer{
	display: flex;
	/* border: 3px solid red; */
    margin-top: 100px;
}
.d1 {
	width: 33%;
	background-color: #151623;

}
.d1>h2 {
	margin-top: 40px;
	margin-left: 50px;
	font-size: 45px;
	/* position: absolute; */
	top: 28px;
	left: 26px;
	color: white;
}
.d1>h5 {
	margin-top: 270px;
    margin-left: 50px;
	font-weight: 400;
	color: white;
}
.d1>button{
	margin-top: 30px;
	margin-left: 50px;
   padding: 8px;
   border: 1px solid #DFDEDF;
   background-color: #151623;
   border-radius: 50px;
}
.d1>a {
	/* padding: 16px; */
	text-decoration: none;
	/* color: red; */
}
.d1>button>a{
	color: white;
	text-decoration: none;
}
.d1>button>a:hover{
	background-color: white;
	color: #151623;
}


.d2 {
	width: 33%;
}
.d3{
	width: 33%;
	/* background-color: ; */
}

.popdestinationh2{
	font-size: 50px;
	font-weight: 400;
	margin-top: 110px;
	margin-left: 100px;
	margin-bottom: 30px;
}
.barcelonaimg{
	margin-left: 100px;
	border-radius: 0 0  55px 0;
	margin-right: 20px;
}


.purple2{
     display: flex;
    margin-top: 150px;   
}
.handimg{
	background-color: #0F0F1C;
   width: 50%;
}
.textbgpurple{
 background-color: 	#151623;
    width: 50%;
}
.textbgpurple>h1{
	margin-top: 50px;
	margin-left: 55px;
	color: white;
}
.textbgpurple>h5{
	margin-top: 350px;
	margin-left: 55px;
	margin-right: 50px;
	color: white;
}

.bighyer {
	margin-top: 50px;
	margin-left: 50px;
	font-size: 167px;
	color: 	#000d10;
}

.complexlist{
	display: flex;
}