/* @font-face {
    font-family: 'Helvetica Now Display';
    src: url('./fonts/HelveticaNowDisplay-Black.ttf'); */
* {
	margin: 0;
	padding: 0;
	/* font-family: HelveticaNowDisplay-Black.ttf;
	font: 15px Helvetica, Roboto, Arial, sans-serif; */
}
body { background-color: #DFDEDF;}

nav {
	display: flex;
	background-image: url("./imgs/plan-ss-gimped.png");
	/* background-size: cover; */
	height: 530px;
	justify-content: space-between;
}

.hyerlogo {
	height: 180px;
	margin: 40px;
}

nav ul {
	display: flex;
	text-decoration: none;
	list-style: none;
	flex-direction: column;
	margin-right: 30px;
}

nav ul li {
	text-decoration: none;
	list-style: none;
	padding: 10px;
}

nav ul li button {
	/* width: 40px;
       height: 40px; */
	border: none;
	background-color: rgb(0, 0, 0);
	border-radius: 99%;
	padding: 20px;
}

nav ul li button:hover {
	background-color: #303131;
}




.b {
	/* height: 30px; */
	width: 20px;
}
.p {
	margin-top: 200px;
	margin-left: 50px;
}
.p2 {
	margin-top: 20px;
	margin-left: 50px;}